.cardh {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  padding: 1rem 2rem;
  color: #fff;
  backdrop-filter: blur(8px);
  box-shadow: 0 0 10px rgba(3, 169, 244, 0.5);
  text-align: center;
  width: fit-content;
  margin: 2rem auto 0 auto;
  font-size: 1.5rem;
  font-weight: bold;
}
